.steps-content {
    min-height: 200px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 2px;
  }
  
  .steps-action {
    margin-top: 24px;
  }

  /*----antd---*/

  
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: #614ec4;
    border-color: white !important;
}
