@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}
.main-conatiner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;

}
.centered-container{
  width: 50%;
}

.logo-container{
   
  font-weight: bold;
  font-size: x-large;
  margin: 30px 0;
}
/*----------antd styles --------*/

.ant-btn-primary{
  background:  #614ec4 !important;
  border-color: white !important;
  border-radius: 5px !important;
}

.ant-steps-item-finish .ant-steps-item-icon{
   border-color: #614ec4 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: #614ec4 !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: #614ec4 !important;
}